* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-around;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

header {
  width: 93%;
  height: 150px;
  margin: 0 auto;
  background-color: rgb(247, 247, 248);
}

.name-info {
  width: 30%;
  text-align: center;
}

.profile-img img {
  width: 100px;
  border-radius: 50%;
}

main {
  width: 93%;
  margin: 5px auto;
}

main * {
  margin: 5px;
}

main span {
  color: blue;
}

main li span {
  background-color: #777;
  line-height: 1.5em;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

main p {
  width: 80%;
  background-color: #444;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5em;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1px;
}

.col-one {
  background-color: rgb(247, 247, 248);
  padding: 10px;
}

.col-two {
  background-color: rgb(247, 247, 248);
  padding: 5px;
}
